.container{
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}
